<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
    <link href="~/libs/lib.css" rel="stylesheet" />
    <link href="~/libs/rlib.css" rel="stylesheet" />
    <script src="~/libs/jquery.js"></script>
    <script src="~/libs/lib.js"></script>
    <link href="~/libs/css/style.css" rel="stylesheet" />
    <link href="~/libs/css/darkmode.css" rel="stylesheet" />
</head>
<body>
    <header>

    </header>
    <div class="left-menu">
        <div class="menu-item">
            <div class="icon">
                <i class="fas fa-home"></i>
            </div>
            <div class="text">
                <p class="limit-1">Trang chủ</p>
            </div>
        </div>
        <div class="menu-item">
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="text">
                <p class="limit-1">Người dùng</p>
            </div>
        </div>
        <div class="menu-item active">
            <div class="icon">
                <i class="fas fa-cogs"></i>
            </div>
            <div class="text">
                <p class="limit-1">Cài đặt</p>
            </div>
        </div>
    </div>
        @RenderBody()
    <footer>

    </footer>
</body>
</html>