<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
    <link href="~/libs/lib.css" rel="stylesheet" />
    <link href="~/libs/rlib.css" rel="stylesheet" />
    <script src="~/libs/jquery.js"></script>
    <script src="~/libs/lib.js"></script>
    <link href="~/libs/css/style.css" rel="stylesheet" />
    <link href="~/libs/css/darkmode.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="title">
            <h4>TEMPLATE HEADER 1</h4>
        </div>
        <div class="header-profile">
            <i class="far fa-moon icon"></i>
            <i class="far fa-envelope icon"></i>
            <i class="far fa-bell icon"></i>
            <i class="fas fa-cogs icon"></i>
            <img src="~/libs/assets/myavt.jpg" />
        </div>
    </header>
    <div class="left-menu">
        <div class="menu-item">
            <div class="menu-header">
                <div class="icon">
                    <i class="fas fa-home"></i>
                </div>
                <div class="text">
                    <p class="limit-1">Trang chủ</p>
                </div>
            </div>
        </div>
        <div class="menu-item user">
            <div class="menu-header">
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="text">
                    <p class="limit-1">Người dùng</p>
                </div>
            </div>
        </div>
        <div class="menu-item has-child">
            <div class="menu-header">
                <div class="icon">
                    <i class="fas fa-cogs"></i>
                </div>
                <div class="text">
                    <p class="limit-1">Cài đặt</p>
                </div>
            </div>
            <div class="menu-child">
                <a>Phân quyền</a>
                <a>Cài đặt hệ thống</a>
            </div>
        </div>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    <footer>
        <p class="m-0">Copyright &copy; RoZ @DateTime.Now.Year</p>
    </footer>
    <div class="side-bar">

    </div>
</body>
</html>