<div class="content-header">
    <div class="row">
        <div class="col-lg-4">
            <h4>USER TABLE</h4>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
            <b>TOTAL: 10</b>
        </div>
        <div class="col-lg-4 tool-bar d-flex justify-content-end">
            <i class="fas fa-plus icon"></i>
            <i class="fas fa-search icon" onclick="OpenSidebar('@Url.Action("Search", "User")')"></i>
        </div>
    </div>
</div>
<table class="r-table-1">
    <thead>
        <tr>
            <th width="80">INDEX</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>ADDRESS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < 10;i++)
            {
                <tr>
                    <td class="text-center">@(i+1)</td>
                    <td>username@(i+1)</td>
                    <td>email@(i+1)</td>
                    <td>phone@(i+1)</td>
                    <td>address@(i+1)</td>
                    <td></td>
                </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="99">
                <div class="page-nav-wrapper">
                    <div class="page-nav">
                        <div class="nav-btn"><i class="fas fa-angle-double-left icon"></i></div>
                        <div class="nav-btn"><i class="fas fa-angle-left icon"></i></div>
                        <div class="nav-input"><input value="1" /> / <span>1</span></div>
                        <div class="nav-btn"><i class="fas fa-angle-right icon"></i></div>
                        <div class="nav-btn"><i class="fas fa-angle-double-right icon"></i></div>
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
<script>
    rActive = "user"
</script>
