<div class="side-bar-header">
    <h4 class="limit-1">SEARCH USER</h4>
    <i class="fas fa-times close-icon" onclick="CloseSidebar()"></i>
</div>
<div class="side-bar-body">
    <div class="r-form-item">
        <label>Từ khóa</label>
        <input />
    </div>
</div>
