<div class="r-modal-header">
    <h4>CREATE NEW USER</h4>
    <i class="fas fa-times close-icon" onclick="RModalHide()"></i>
</div>
<form class="r-form">
    <div class="r-modal-body">
        <div class="r-form-item">
            <input req="text" />
            <label>Username</label>
        </div>
        <div class="r-form-item">
            <input req="text" type="password" />
            <label>Password</label>
        </div>
        <div class="r-form-item">
            <input req="text" />
            <label>Email</label>
        </div>
        <div class="r-form-item">
            <input req="num" />
            <label>Phone number</label>
        </div>
        <div class="r-form-item">
            <textarea></textarea>
            <label>Notes</label>
        </div>
    </div>
    <div class="r-modal-footer">
        <button class="rbtn rbtn-success">Create</button>
        <button class="rbtn rbtn-secondary" onclick="RModalHide()">Close</button>
    </div>
</form>